# Entornos virtuales
.venv/
venv/
env/
.env/

# Python cache
__pycache__/
*.py[cod]

# Datos y Modelos (Los artefactos pesados no se suben a Git)
data/raw/*.csv
models/*.pkl

# Configuración de IDE
.idea/
.vscode/

# MLflow locales y temporales
mlflow.db
mlruns/
outputs/
EOF
